{% extends 'base_users.html' %}
{% block title %}Login | StocksTracker{% endblock %}

{% block extra_head_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
<script defer>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
        })
    })()
</script>
{% endblock %}
{% block content %}
<h2 class="logintext">Log in to StocksTracker</h2>
<hr>
<form action="{% url 'users:login' %}" class="needs-validation" novalidate method="POST">
    {% csrf_token %}
    <div class="row g-2 col-md-12 mb-3 position-relative">
        <div class="form-floating">
            {{ form.username }}
            <label for="floatingUsername" class="form-label">Username</label>
            <div class="invalid-tooltip">
                Enter your username to login
            </div>
        </div>   
    </div>
    <div class="row g-2 col-md-12 mb-3 position-relative">
        <div class="form-floating">
            {{ form.password }}
            <label for="floatingPassword" class="form-label">Password</label>
            <div class="invalid-tooltip">
                Please enter your password
            </div>
        </div>
        {{ form.non_field_errors }}
        {% if form.errors %}
        <div class="errors">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div>
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <strong>{{ error|escape }}</strong>
                    {% endfor %}
                {% endif %}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <strong>{{ error|escape }}</strong>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div>
        {% if request.GET.next %}
            {% if not user.is_authenticated %}
            <p class="noaccess">You do not have access to this page, login to proceed</p>
            {% else %}
            <p class="noaccess">Incorrect username/password combination, please try again</p>
            {% endif %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <button id="loginBtn" class="btn btn-success btn.lg" type="submit">Log In</button>
    </div>
</form>
<div class="forget">
    <a class="forget" href="{% url 'users:reset_password' %}">Forgotten password?</a>
</div>
<hr>
<div class="createaccount">
    <a href="{% url 'users:register' %}">
        <button class="btn btn-primary btn.lg">Create New Account</button>
    </a>
</div>      
{% endblock %}