{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
{% translate "Click on the following link to set a new password" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "If clicking the link above doesn't work, please copy and paste the URL in a new browser" %}
{% translate "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% translate "Thanks for using my site!" %}

{% translate "Regards," %}
{% translate "Nicholas Y." %}

{% endautoescape %}