{% extends 'base_users.html' %}
{% block title %}Reset Password Complete | StocksTracker{% endblock %}
{% block extra_head_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'users/password_reset_complete.css' %}">
{% endblock %}
{% block content %}
<div class="resetComplete">
    <h2 class="reset">Password reset complete</h2>
</div>
<hr>
<div class="notification">
    <P>Your password has been set, you may go ahead and log in now</p>
    <a href="{% url 'users:login' %}">Login</a>
</div>
{% endblock %}