.container {
    width: 450px;
}

.resetComplete {
    text-align: left;
    margin-left: 12px;
    margin-top: 8px;
}

.resetComplete h2 {
    color: var(--color3);
}

/* Form CSS */
.notification {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Button CSS */
a {
    margin-bottom: 10px;
    padding: 6px 12px;
    border: 1px;
    background-color: #198754;;
    text-decoration: none;
    color: var(--color1);
    height: 48px;
    font-size: var(--textsize1);
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    align-items: center;
}

a:hover {
    color: var(--color1);
    background-color: #157347;
    transition: all 0.3s;
}