.container {
    width: 450px;
}

.resetText {
    text-align: left;
    margin-left: 12px;
    margin-top: 8px;
}

.resetText h2 {
    color: var(--color3);
}

.resetText p {
    margin-right: 12px;
    color: var(--color5);
}

/* Error message */
ul.errorlist {
    list-style: none;
    padding-left: 10px;
    margin: 0;
}

/* Form CSS */
form {
    position: relative;
    padding: 10px;
}

.form, .form > div {
    display: flex;
    flex-direction: column;
}

/* Error field */
.errors {
    margin-top: 6px;
}

.errors div {
    margin: 0;
}

/* Email and its input */
.form-floating {
    margin: 6px 0 16px 0;
}

input[type='email'] {
    color: var(--color3);
    font-weight: 500;
    font-size: calc(0.7 * var(--textsize1));
    letter-spacing: calc(var(--textsize1)/50);
    background-color: var(--color4);
}

/* Button CSS */
#resetBtn {
    height: 48px;
    font-size: var(--textsize1);
    font-weight: bold;
    margin-bottom: 16px;
    border-radius: 4px;
    text-align: center;
}

#cancelBtn {
    margin-bottom: 10px;
    padding: 6px 12px;
    border: 1px;
    background-color: red;
    text-decoration: none;
    color: var(--color1);
    height: 48px;
    font-size: var(--textsize1);
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    align-items: center;
}

#cancelBtn:hover {
    background-color: var(--color2);
    transition: background-color 0.3s;
}